.link-item {
  animation: expand 0.5s ease-in-out;
  border-radius: 10px;
  display: flex;
  transition-property: all;
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
}

.link-item:hover {
  background-color: rgba(208, 208, 216, 0.541);
}

.link-item:hover .link-item-border {
  width: 90%;
}

.link-item-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  overflow: hidden;
  padding-right: 4px;
}

.link-item-label {
  color: snow;
  font-weight: bold;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link-item-border {
  border-top: solid 1px rgba(248, 248, 255, 0.658);
  width: 80%;
  margin: 6px auto 6px auto;
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}

.link-item-date {
  color: lightsteelblue;
  font-size: 8pt;
  margin-left: auto;
}

.link-item-img {
  border-radius: 10px;
  height: 58px;
  padding: 6px;
  width: 58px;
}

@keyframes expand {
  from {
    transform: scale(0);
    opacity: 0;
    background: #5470b0;
  }
}
