.link-list {
  height: 420px;
  margin-top: 10px;
  padding: 4px;
  width: 100%;
}

.link-list-title {
  color: rgb(238, 230, 230);
  font-size: 17px;
  margin-left: 5px;
}

.link-list-container {
  background-color: rgb(51, 58, 65);
  border-radius: 20px;
  height: 95%;
  padding-top: 5px; /*Do not use margin because of CSS margin-collapsing*/
  width: calc(100% - 8px);
}

.link-list-ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
