.page {
  background-color: rgb(225, 226, 223);
  height: calc(100% - 8px);
  flex-grow: 1;
  /* padding: 4px; */
  overflow-y: auto;
}

.page::-webkit-scrollbar {
  width: 10px;
}
.page::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: rgb(104, 99, 99);
  border: 2px solid transparent;
}
.page::-webkit-scrollbar-track {
  background-color: #dcdee4;
}
